.querypage{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top right, var(--theme1),  var(--theme2) );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start ;
    gap: 0.5em;
    overflow-y: scroll;
    overflow-x: hidden;
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/  
}

.queryMovies{
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.errorSearch{
    color:white;
}